{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
     {% block head %}
      {% endblock %}
</head>
{% block  right %}
    <form method="post" action="/operational/create/group/">
    <div class="form-group">
    <label>服务器组</label>
        <p></p>
    {{ form.group }}
        <p style="color: red;">{{ form.group.errors.0 }}</p>
    </div>
        <p></p>
    <input style="position: relative;left: 85%;top: 50px;" type="submit" class="btn btn-primary" value="确定">
    </form>
{% endblock %}
</html>