{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
     {% block head %}

      {% endblock %}
</head>
{% block  right %}
     <form id="edit_server_group_form" method="post" action="/operational/edit/group/">
    <div class="form-group">
    <label>服务器组</label>
        <p></p>
    <input type="text" class="form-control" value="{{ group_obj.title }}" name="group">
        <p style="color: red;">{{ form.group.errors.0 }}</p>
    </div>
     <input type="text" name="group_id" value="{{ group_obj.id }}" style="display: none;">
        <p></p>

    <label>选择服务器</label>
 <table>
     <thead>
     <tr style="font-size: 20px;" >
         <td style="padding-left: 50px;">待选服务器</td>
         <td style="padding-left: 50px;">操作</td>
         <td>已选服务器</td>
     </tr>
     </thead>
	<tr>
		<td style="padding-left: 50px;">
		  <select multiple class="sel" id="sel_left" style="width:200px;height: 300px;font-size: 18px;">
			{% for i in all_server %}
                {% if i.id not in group_server_id_list %}
                    <option value="{{ i.id }}">{{ i.ip }}</option>
                {% endif %}
                  {% endfor %}

		  </select>
		</td>
		<td style="padding: 50px;">
			<p><button class="btn btn-primary" id="btn_1">>></button></p><br>
			<p><button class="btn btn-primary" id="btn_2">&nbsp;>&nbsp; </button></p><br>
			<p><button class="btn btn-primary" id="btn_3">&nbsp;<&nbsp; </button></p><br>
			<p><button class="btn btn-primary" id="btn_4"><<</button></p><br>

		</td>
		<td>
			 <select  multiple  name="option_server" class="sel" id="sel_right" style="width:200px;height: 300px;;font-size: 18px;">
			 {% for i in group_server %}
                 <option value="{{ i.id }}">{{ i.ip }}</option>
                 {% endfor %}
			 </select>
		</td>
	</tr>
</table>
         <input id="edit_server_group_sub_butten" onclick="OnFalse(this);" style="position: relative;left: 85%;top: 50px;" type="button" class="btn btn-primary" value="确定">
    </form>

{% endblock %}
</html>
