{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
     {% block head %}
     {% endblock %}
</head>

{% block  right %}
    <form method="post" action="/operational/create/password/">
 <select   class="btn btn-default dropdown-toggle" name="password_type"   >
            <option value="type1">大小写字母+数字</option>
            <option value="type6">大小写字母+数字+字符</option>
            <option value="type2">纯数字</option>
            <option value="type3">大小写字母</option>
            <option value="type4">大写字母</option>
            <option value="type5">小写字母</option>
 </select>
     <div class="form-inline" style="display: inline;">
    <label for="exampleInputName2">  长度</label>
    <input type="text" name="length" class="form-control" value="16">
  </div>
    <input type="submit" class="btn btn-success" value="确定" >
    </form>
    <p></p>
    <h1>{{ passwd }}</h1>
{% endblock %}
</html>

