<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>运维管理 </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/green.css" rel="stylesheet">
    <link href="/static/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="/static/css/custom.min.css" rel="stylesheet">
    <link href="/static/css/devops.css" rel="stylesheet">

      {% block head %}
      {% endblock %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/index/" class="site_title"><i class="fa fa-paw"></i> <span>运维管理</span></a>
            </div>
            <div class="clearfix"></div>

            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="/{{ request.session.avatar }}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>欢迎,</span>
                <h2 id="username_1">{{ request.session.user }}</h2>
              </div>
            </div>
            <br />
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> 网站导航 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/index/">网站导航</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-git"></i> 版本控制 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/project/list/">项目管理</a></li>
                      <li><a href="/project/create/">创建管理</a></li>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-user"></i> 权限管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/permissions/list/">权限管理</a></li>
                      <li><a href="/permissions/list/user/">账号</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-code-fork"></i> 流程管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/process/list/">流程列表</a></li>
                      <li><a href="/process/create/">创建申请流程</a></li>
                      <li><a href="/process/myprocess/">我的记录</a></li>
                      <li><a href="/process/all/">所有记录</a></li>
                      <li><a href="/process/audit/list/">审核列表</a></li>

                    </ul>
                  </li>
                    <li><a><i class="fa fa-wrench"></i> 运维工具 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/operational/list/server/">服务器管理</a></li>
                      <li><a href="/operational/list/group/">服务器组管理</a></li>
                      <li><a href="/operational/create/password/">随机密码</a></li>
                      <li><a href="/operational/server/list/user/">SSH账号管理</a></li>

                    </ul>
                  </li>

                  <li><a><i class="fa fa-cogs"></i>设置<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/configuration/edit/password/">修改密码</a></li>
                      <li><a href="/configuration/edit/avatar/">头像更改</a></li>
                      <li><a href="/configuration/edit/email/">修改邮箱</a></li>
                      <li><a href="/logout/">退出</a></li>
                    </ul>
                  </li>

                </ul>
              </div>

            </div>
          </div>
        </div>
    {% load mytemplateags %}
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/{{ request.session.avatar }}" alt="">{{ request.session.user }}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="/configuration/edit/email/">修改邮箱</a></li>
                    <li>
                      <a href="/configuration/edit/password/">修改密码</a>
                    </li>
                    <li><a href="/configuration/edit/avatar/">头像更改</a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i>退出</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">{% count_process request.session.user  %}</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">

                    <li>
                        {% get_messages  request.session.user %}

                    <li>
                      <div class="text-center">
                        <a>
                          <strong>关闭</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row">
            <div class="">
            {% block  right %}

            {% endblock %}
            </div>

          </div>
          <br />

          <div class="row">

          </div>

        </div>
        <footer>
          <div class="pull-right">
          </div>
          <div class="clearfix"></div>
        </footer>
      </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/devops.js"></script>
    <script src="/static/js/Chart.min.js"></script>
    <script src="/static/js/gauge.min.js"></script>
    <script src="/static/js/bootstrap-progressbar.min.js"></script>
    <script src="/static/js/date.js"></script>
    <script src="/static/js/custom.min.js"></script>

  </body>
</html>
