{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
     {% block head %}

      {% endblock %}
</head>

{% block  right %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm1">添加导航</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-sm">删除导航</button>

<div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="padding: 40px;">
        <form method="post" action="/add/navigation/">
        <label>名称{{ form.website_name }}{{ form.website_name.errors.0 }}</label>
        <label>url{{ form.website_url }}{{ form.website_url.errors.0 }}</label><p></p>
          <input type="submit" value="保存" class="btn btn-primary" style="position: relative;left: 80%;top: 100%;">
        </form>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="padding: 40px;">
    <form method="post" action="/delete/navigation/">
        {% for i in navigation_obj %}
            <input type="checkbox" name="{{ i.id }}">{{ i.website_name }}
        {% endfor %}
     <br><br>
        <input type="submit" value="删除" class="btn btn-danger" style="position: relative;left: 80%;top: 100%;">
    </form>
    </div>
  </div>
</div><p></p>
    <div>
    {% for i in navigation_obj %}
        <a class="btn btn-default btn-lg active"  href="{{ i.website_url }}">{{ i.website_name }}</a>
    {% endfor %}
    </div>

{% endblock %}
</html>

