<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>运维管理平台</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/nprogress.css" rel="stylesheet">
    <link href="/static/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">

          <section class="login_content">
            <form action="/login/" method="post">
              <h1>运维管理平台</h1>
                {% csrf_token %}
                {{ form.username }}{{ form.errors.username.0 }}
                {{ form.password }}{{ form.errors.password.0 }}
                <input type="submit" class="btn btn-default submit" value="登录">
              <div class="clearfix"></div>
              <div style="color: red;">{{ msg }}</div>
              <div class="separator">

                <br />
                <div>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>