{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
     {% block head %}
      {% endblock %}
</head>

{% block  right %}
                  <div class="x_title">
                    <div class="clearfix"></div>
                  </div>
                    <br />
    {% load mytemplateags %}
                        <form class="form-horizontal form-label-left" >
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">项目流程名*</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <h2>{{describe_obj.name }}</h2>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">描述<span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <p  style="position: relative;top: 8px;"> {{ describe_obj.describe }}</p>
                        </div>
                      </div>

                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">附件<span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <p></p>
                        {% get_attachment describe_obj.attachment %}
                        </div>
                      </div>

                        <div id="head_reviewer"  name="username">
                        </div>

                    <label class="control-label col-md-3 col-sm-3 col-xs-12">审核流程</label>
                    </br>
                    </br>
                <p></p>
                        {% load mytemplateags %}
                         {% for i in user_list_obj %}


                         <div class="form-group">
                        <div  class=" col-md-9 col-sm-9 col-xs-12" id="option_{{ i.id }}" >
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ i.name }}</label>
                          <img src="/{{ i.head_img }}" height="100" width="100">{% getDescreba  i.id describe_obj.id describe_obj.process_str    %}
                          <input style="display: none;" type="checkbox" name="{{ i.id }}" checked="checked">
                            </br>
                            </br>
                     </div>
                         </div>
                    {% endfor %}


{% endblock %}
</html>

