{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block  right %}

              <div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2>添加项目</h2>
                      <h4 style="color: red;">{{ error_msg }}</h4>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <br />
                    <form class="form-horizontal form-label-left" action="/project/create/" method="post">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">项目名*</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ form.title }}
                            <p style="color: red;">{{ form.title.errors.0 }}</p>
{#                          <input type="text" class="form-control" >#}
                        </div>
                      </div>
{#                      <div class="form-group">#}
{#                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Disabled Input </label>#}
{#                        <div class="col-md-9 col-sm-9 col-xs-12">#}
{#                          <input type="text" class="form-control" disabled="disabled" placeholder="Disabled Input">#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="form-group">#}
{#                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Read-Only Input</label>#}
{#                        <div class="col-md-9 col-sm-9 col-xs-12">#}
{#                          <input type="text" class="form-control" readonly="readonly" placeholder="Read-Only Input">#}
{#                        </div>#}
{#                      </div>#}
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">描述<span class="required"></span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ form.describe }}
{#                          <textarea class="form-control" rows="3" ></textarea>#}
                            <p style="color: red;">{{ form.describe.errors.0 }}</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">git地址*</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ form.git_url }}
{#                          <input type="text" name="" class="form-control" value="">#}
                            <p style="color: red;">{{ form.git_url.errors.0 }}</p>
                        </div>
                      </div>
                        <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">认证方式*
                          <br>
                          <small class="text-navy"></small>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                        <div >
                            <label>
                              <input type="radio"  name="git_auth_way" checked="checked" value="0"  > 账号密码认证
                            </label>
                          </div>
                          <div >
                            <label>
                              <input type="radio" name="git_auth_way" value="1" > 已ssh-key认证
                            </label>
                          </div>
                        </div>
                        </div>

                        <div class="git_user_passwor " id="git_user_passwor">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">git账号</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    {{ form.git_user }}
                                    <p style="color: red;">{{ form.git_user.errors.0 }}</p>
{#                                    <input type="text" class="form-control" >#}
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">git密码</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    {{ form.git_passowrd }}
                                    <p style="color: red;">{{ form.git_passowrd.errors.0 }}</p>
{#                                    <input type="password" class="form-control" >#}
                                </div>
                            </div>
                        </div>
{#                        <div class="git_ssh_key server_auth" id="git_ssh_key">#}
{#                            <div class="form-group">#}
{#                                <label class="control-label col-md-3 col-sm-3 col-xs-12">ssh-key私钥</label>#}
{#                                <div class="col-md-9 col-sm-9 col-xs-12">#}
{#                                    {{ form.git_ssh_key }}#}
{#                                    <p style="color: red;">{{ form.git_ssh_key.errors.0 }}</p>#}
{#                                    <textarea class="form-control" rows="3" ></textarea>#}
{#                                </div>#}
{#                            </div>#}


                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">分支名*</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ form.git_branch }}
                            <p style="color: red;">{{ form.git_branch.errors.0 }}</p>
{#                          <input type="text" name="git_branch"  class="form-control col-md-10"/>#}
                        </div>
                      </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">项目所在路径*</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {{ form.deploy_dir }}
                                 <p style="color: red;">{{ form.deploy_dir.errors.0 }}</p>
                        <p></p>
                            </div>
                        </div>



                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">项目部署服务器组*</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select class="form-control" name="server_group">
                              {% for group in server_group_all %}
                                    <option value="{{ group.id }}">{{ group.title }}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>



                        <h4 class="control-label col-md-3 col-sm-3 col-xs-12">任务配置项:</h4>
                        <br><br>
                        <p></p>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">排除文件</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ form.exclude_file }}
                            <p style="color: red;">{{ form.exclude_file.errors.0 }}</p>
{#                          <textarea class="form-control" rows="3" ></textarea>#}
                        </div>
                      </div>

                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">通知方式*</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select id="project_online_notice_select" name="online_notice" class="form-control">
                            <option value="email">邮件</option>
                              <option value="dingding">钉钉</option>
                          </select>
                        </div>
                      </div>

                        <div  id="email_input" class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">邮件通知人</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select id="email_notice_select" name="email_notice" class="form-control">
                                <option value=""></option>
                                {% for role in role_all %}
                                    <option value="{{ role.id }}">{{ role.title }}</option>
                                {% endfor %}
                          </select>
                        </div>
                      </div>

                        <div  id="dingding_input" class="form-group server_auth">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">钉钉webhook地址</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ form.dingding_notice }}
                            <p style="color: red;">{{ form.dingding_notice.errors.0 }}</p>
{#                          <input type="text" name="dingding_notice"  class="form-control col-md-10"/>#}
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
{#                          <button type="button" class="btn btn-primary">Cancel</button>#}
                          <button type="reset" class="btn btn-primary">重置</button>
                          <button type="submit" class="btn btn-success">提交</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>


{% endblock %}
</html>