{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
     {% block head %}

      {% endblock %}

</head>

{% block  right %}
    <form action="/configuration/edit/email/" method="post">
    <h3>原邮箱</h3>
    <h3>{{ old_email }}</h3>
        <p></p>
    <label>新邮箱</label>
    {{ form.email }}
        <p style="color: red;">{{ form.errors.email.0 }}</p>
        <br>
    <input type="submit" class="btn btn-primary" value="保存">
    </form>
    <br>
    <h3 style="color: red;">{{ error_msg }}</h3>
{% endblock %}
</html>
