{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
     {% block head %}
      {% endblock %}
</head>

{% block  right %}
    <form action="/configuration/edit/password/" method="post">
    <label>原密码</label>
    {{ form.old_password }}
        <p style="color: red;">{{ form.errors.old_password.0 }}</p>
    <label>新密码</label>
    {{ form.new_password }}
        <p style="color: red;">{{ form.errors.new_password.0 }}</p>
    <label>重复新密码</label>
    {{ form.new_password2 }}
        <p style="color: red;">{{ form.errors.new_password2.0 }}</p>
        <br>
    <input type="submit" class="btn btn-primary" value="保存">
    </form>
    <br>
    <h3 style="color: red;">{{ error_msg }}</h3>
{% endblock %}
</html>
